body{
    background:linear-gradient(#3d84b8, #f0ebcc, #3f3697) ;
    font-family: 'Krona One', sans-serif;
}




header nav ul li {

    float: left;
    list-style: none;
    padding: 10px 20px;
    
    
}

.encabezado, footer{
    background: burlywood;
    text-align: center;
    
}

.contacto{
    text-align: center;
}

